* {
    box-sizing: border-box;
}

body {
    color: #595959;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 3.8em;
    font-family: 'Raleway';
}

h2 {
    font-size: 2.8em;
    color: #b30000;
    font-family: 'Raleway';
}

h3 {
    font-size: 1.8em;
    color: #b30000;
    font-family: 'Raleway';
}

p {
    font-size: 1.5em;
}

.navbar {
    padding: 0 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
}

.navbar-brand {
    color: #595959;
    font-size: 1.8em;
    font-family: 'Raleway';
    padding: 0;
}

.navbar-brand:hover {
    color: #595959;
}

.navbar img {
    height: 1.8em;
}

.nav-link {
    font-size: 1.5rem;
    color: #595959;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.navbar-toggler {
    border: none;
    padding: 0;
}

.navbar-toggler:focus {
    outline: none;
}

.stage {
    background-image: url(../img/mini-me.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 75vh;
}

.box {
    background-image:  linear-gradient( 110deg, #f4f4f4 55%, transparent 45%);
    height: 75vh;
    position: relative;
}

.scroll {
    position: absolute;
    top: 75%;
    left: 27%;
    width: 40px;
    height: 40px;
    margin-left: -12px;
    border-left: 1px solid #595959;
    border-bottom: 1px solid #595959;
    transform: rotate(-45deg);
    animation: sdb05 2s infinite;
    box-sizing: border-box;
}

@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.jumbotext {
    color: #b30000;
    font-family: 'Raleway';
    font-size: 1.5em;
    position: absolute;
    top: 45%;
    left: 12%;
}

.text {
    position: relative;
}

.text::after {
    content: '';
    height: 45px;
    width: 5px;
    position: absolute;
    background: #e8e8e8;
    bottom: -25px;
    left: 25%;
}

.vita {
    background: #e8e8e8;
    position: relative;
    height: 248vh;
}

.point1 {
    border-top: 5px solid white;
    border-right: 5px solid white;
    width: 60%;
    height: 310px;
    position: absolute;
    top: 25px;
    left: 25%;
    text-align: right;
}

.point1::before {
    content: '';
    height: 30px;
    width: 5px;
    position: absolute;
    background: white;
    top: -30px;
    left: 0;
}

.point2 {
    border-top: 5px solid white;
    border-left: 5px solid white;
    width: 70%;
    height: 310px;
    position: absolute;
    top: 335px;
    left: 15%;
}

.point3 {
    border-top: 5px solid white;
    border-right: 5px solid white;
    width: 60%;
    height: 310px;
    position: absolute;
    top: 645px;
    left: 15%;
    text-align: right;
}

.point4 {
    border-top: 5px solid white;
    border-left: 5px solid white;
    width: 50%;
    height: 310px;
    position: absolute;
    top: 950px;
    left: 25%;
}

.point5 {
    border-top: 5px solid white;
    border-right: 5px solid white;
    width: 60%;
    height: 310px;
    position: absolute;
    top: 1255px;
    left: 25%;
    text-align: right;
}

.point6 {
    border-top: 5px solid white;
    border-left: 5px solid white;
    width: 40%;
    height: 380px;
    position: absolute;
    top: 1560px;
    left: 45%;
}

.point7 {
    border-top: 5px solid #e8e8e8;
    width: 40%;
    height: 380px;
    position: absolute;
    top: 1560px;
    left: 5%;
    text-align: right;
}


footer {
	background-color: white;
	color: #595959;
    height: 4em;
    display: flex;
    justify-content: space-between;
    padding: .5em;
}

footer .row {
    width: 100%;
}

footer .footer-right {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer p {
    font-size: 1.2em;
    margin: .3em .6em;
    padding: .3em;
}

footer .footer-links {
    border-right: 1px solid #808080;
    font-size: 1.2em;
    color:  #595959;
}

footer img:hover {
    opacity: 0.7;
    color: white;
    text-decoration: none;
}