@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
    color: #595959;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 3.8em;
    font-family: 'Raleway';
}

h2 {
    font-size: 3em;
    color: #b30000;
    font-family: 'Raleway';
}

p {
    font-size: 1.8em;
}

.navbar {
    padding: 0 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
}

.navbar-brand {
    color: #595959;
    font-size: 1.8em;
    font-family: 'Raleway';
    padding: 0;
}

.navbar-brand:hover {
    color: #595959;
}

.navbar img {
    height: 1.8em;
}

.nav-link {
    font-size: 1.5rem;
    color: #595959;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.navbar-toggler {
    border: none;
    padding: 0;
}

.navbar-toggler:focus {
    outline: none;
}

.jumbotron {
    background-image: url("../img/me_neu-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 0%;
    height: 90vh;
}

.jumbotext {
    position: relative;
    top: 30%;
    left: 5%;
    background: rgba(255, 255, 255, 0.5);
    max-width: 45%;
    padding: 2% 3%;
    font-family: 'Raleway';
}

.jumbotext button {
    font-family: 'Lato';
}

.button {
    border: .1em solid #b30000;
    background: transparent;
    color:  #595959;
    padding: .2em .5em;
    margin: .5em .5em .5em 0;
    font-size: 1.5em;
}

.button:hover {
    background: #b30000;
    color: white;
    text-decoration: none;
}

.scroll {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-left: 1px solid #595959;
    border-bottom: 1px solid #595959;
    transform: rotate(-45deg);
    animation: sdb 2s infinite;
    box-sizing: border-box;
}

@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.skill-card {
    box-shadow: 5px 5px 30px lightgray;
    padding: 3em;
}

.skill-card p {
    color:  #b30000;
    margin: 1em;
}

.cogwheels {
    width: 9em;
}

.wireframe {
    width: 7.7em;
}

.tags {
    display: block;
    color: white;
    list-style: none;
    padding: 0;
}

.tags li {
    background: #808080;
    display: inline-block;
    margin: .3em;
    padding: 0 .5em;
    font-size: 1.2em;
}

.projects {
    background-image: url(../img/workplace2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 85vh;
}

.box {
    background-image:  linear-gradient( 120deg, #f4f4f4 55%, transparent 45%);
    height: 85vh;
}

.project-text {
    padding: 12% 0;
}

footer {
	background-color: white;
	color: #595959;
    height: 4em;
    display: flex;
    justify-content: space-between;
    padding: .5em;
}

footer .row {
    width: 100%;
}

footer .footer-right {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer p {
    font-size: 1.2em;
    margin: .3em .6em;
    padding: .3em;
}

footer .footer-links {
    border-right: 1px solid #808080;
    font-size: 1.2em;
    color:  #595959;
}

footer img:hover {
    opacity: 0.7;
    color: white;
    text-decoration: none;
}